
/*  ==================================  */
/*  =============  RESET   =============  */


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, input, select, button, textarea, table, caption, tbody, tfoot, thead, tr, th, td
{margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline;}
:focus				{outline:0;}
body				{line-height:1;}
ol, ul				{list-style:none;}
table				{border-collapse:separate; border-spacing:0;}
caption, th, td			{text-align:left; font-weight:normal;}


/*  =============  RESET   =============  */
/*  ==================================  */


.Hidden,
#SkipLinks			{position:absolute; left:-10000em; top:auto; width:1px; height:1px; overflow:hidden;}


/*  ==================================  */
/*  ============  TOOLBAR   ============ */


#Toolbar				{float:left; width:100%; padding:0.5em 0;}

#tMenu,
#tAccount			{padding:0	1.5em;}
#tOptions li div			{right:		1.5em;}

#tMenu li				{margin-right:	0.5em;}
#tOptions li			{margin-left:	0.5em;}

#Toolbar a,
#tMenu,
#tMenu li,
#tOptions,
#tOptions li,
#tOptions span,
#tUser,
#tLang,
#Toolbar li:hover div,
#Toolbar a:hover div		{display:block; float:left;}
#tAccount				{display:block; float:right;}

#tUser					{padding:0.5em 1.25em; float: right;}

#tLang					{padding:0 1.25em;}

#Toolbar a				{padding:0.5em 0.75em; font-weight:bold; text-decoration:none;}

#Toolbar li div			{display:none; position:absolute; margin-top:2.25em;z-index:1000;}

#Toolbar li div li,
#Toolbar li div li:hover,
#Toolbar li div a			{display:block; float:none; margin:0; padding:0; line-height:1em; font-weight:normal;}

#Toolbar li div a			{margin:0 0 0.75em 0.5em; padding:0 2em 0 1em; border-left-width:4px; border-style:solid;}

#Toolbar li div ul			{margin:1.5em 0.75em;}

#Toolbar li div a:hover		{text-decoration:underline;}


div.SelectLanguage								{float:left; position:relative;}
div.SelectLanguage div.trigger					{position:relative; width:32px; padding:0 8px; height:27px; line-height:27px; cursor:pointer; border-radius:2px;}
div.SelectLanguage div.trigger:after 				{content:""; display:block; position:absolute; width:0; height:0; border:4px solid transparent;	border-top-color:#467aad; top:12px; right:9px;}
div.SelectLanguage div.trigger.open				{border-radius:2px 2px 0 0;background: rgb(33,58,84);	background: linear-gradient(to bottom, rgba(48,88,122,1) 1%,rgbargba(33,58,84,1) 100%);}
div.SelectLanguage div.trigger.open:after			{border-top-color:#8CC2F7;}
div.SelectLanguage ul.options						{list-style:none; margin:0; padding:8px 0 0 0; position:absolute; top:0px; right:0; visibility:hidden; opacity:0; z-index:10; max-height:200px; overflow:auto; width:48px; border-radius:0 0 2px 2px;}
div.SelectLanguage ul.options.open				{visibility:visible; top:27px; opacity:1;}
div.SelectLanguage ul.options.overflowing 			{top:auto; bottom:40px;}
div.SelectLanguage ul.options.overflowing.open 	{top:auto; bottom:50px;}
div.SelectLanguage ul.options li 					{margin:3px; padding:5px; cursor:pointer; white-space:nowrap; border-radius:2px;}
div.SelectLanguage ul.options						{background: rgb(33,58,84);	background: linear-gradient(to bottom, rgba(33,58,84,1) 1%,rgba(48,88,122,1) 100%);}
div.SelectLanguage ul.options li.selected,
div.SelectLanguage ul.options li.selected:hover		{background:rgba(0,0,0,0.15);background-image:none!important;}


/*  ============  TOOLBAR   ============ */
/*  ==================================  */



/*   # # # # # # # # # # # # # # # # # # # # # # # #    */
/*  - - - - - - - - -  Footer on bottom  - - - - - - - - - - -   */


html, body			{height: 100%;}
#Container1			{min-height:100%;}
#Footer				{position:relative; margin-top:-4em; height: 4em; clear:both;}
body:before			{content:""; height:100%; float:left; width:0; margin-top:-32767px;/}


/*  - - - - - - - - -  Footer on bottom  - - - - - - - - - - -   */
/*   # # # # # # # # # # # # # # # # # # # # # # # #    */


#Container2			{margin:0 auto; padding:0 1.5em;}


/*  ==================================  */
/*  =============  BANNER   ============ */


#Banner				{float:left; width:100%; padding:1em 0;}

#Banner	h1 {float: left;
    font-size: 24px;
    font-weight: normal;
    margin-top: 0.5em;
    padding-bottom:7px;
    width: auto;}

#Identity img			{float:left; width:170px; height:60px; line-height:60px; font-size:1.5em;}

#Search				{float:right; padding:0.4em; margin-top:1.5em;}

#Search form,
#Search fieldset			{float:left;}

#Search input,
#Search select,
#Search button			{float:left; height:2em; margin-right:0.4em;}

#Search input			{padding:0.5em; height:1em; line-height:1em;}

#Search select			{padding:0.25em;}

#Search button			{padding:0 0.75em 1px 0.75em; margin-right:0; font-weight:bold; cursor:pointer;}

#Search button span		{padding-left:1.75em;}


/*  =============  BANNER   ============ */
/*  ==================================  */


#Container3			{float:left;	clear:both; 	width:100%;	padding-bottom:8em;}

#Main				{	padding:0 1.5em;	margin-left:17em;	overflow: auto;}


/*  ==================================  */
/*  =======   COMMON NAV+MAIN   ======== */


#Container3 h1,
#Container3 h2 {margin:1.5em 0; font-size:1.75em; border-width:0 0 4px 0; border-style:solid; padding-bottom:0.5em; float:left; width:100%;}

#Container3 h2 img {float:right;padding-right:0.75em;}

#Container3 #GuestContent h2 {margin:0 0 1em;}



/*  =======   COMMON NAV+MAIN   ======== */
/*  ==================================  */


/*  ==================================  */
/*  ===============  NAV  ============== */

#Nav				{float:left;padding:0 0 0 0.55em;width:15em;}
#Nav ul				{float:left; width:100%; margin:1.5em 0 2em;}
#Nav ul li				{padding:1em 0.75em;margin:0.75em 0;}
#Nav ul li.Selected	{background-color: #F0F2DC;border-left: 3px solid #255A8B;-webkit-box-shadow:-3px 4px 5px -6px #1a1a1a;box-shadow:-3px 4px 5px -6px #1a1a1a;}
#Nav ul li:hover		{background-color: #F0F2DC;-webkit-box-shadow: 0 4px 5px -6px #1a1a1a;box-shadow: 0 4px 5px -6px #1a1a1a;cursor:pointer;}

#Nav ul a			{text-decoration:none; color:#00305d;font-size:12px;}
#Nav ul li.Selected	{font-weight:bold;}
#Nav ul.subItem {
    float: left;
    width: 100%;
    margin: 0.3em 1em 0em;
}

/*  ===============  BUTTONS_ACTION  ============== */
/*  ==================================  */


/*  ==================================  */
/*  ============  LOGIN   ============ */


#Login				{max-width: 430px;margin: 50px auto 0;}

#Login img			{margin:0 0 2em;display: block;}

#Login label			{margin:0 0 0.55em;display:block;font-size:12px;}

.form-signin		{background: #fff;border-radius: 5px;-webkit-border-radius: 5px;float:left;width:100%;}

.form-signin h2.form-signin-heading,
.modal h2.popupHeader {
    margin: 0;
    padding: 15px!important;
    background: #E08730;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    color: #fff;
    font-size:20px!important;
    font-weight: 300;
    border:0 none!important;
    margin:0!important;
    float:none!important;
    width:auto!important;
}



.login-wrap{padding:20px;}

.login-wrap div+div {
    border-top: 1px dotted #e3ebf3;
    padding: 1em 0 0;
    margin-top: 1.8em;
}

.form-signin input[type="text"],
.form-signin input[type="password"],
.form-signin select{
    margin-bottom: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #eaeaea;
    box-shadow: none;
    font-size: 12px!important;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 100%;
    background-color: #fff;
    background-image: none;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.btn-login {
    display: block;
    width: 100%;
    padding: 10px 16px;
    font-size: 17px;
    line-height: 1.33;
    border-radius: 6px;
    background:rgb(217, 229, 241);
    color: #E08730;
    text-transform: uppercase;
    font-weight: 300;
    -webkit-box-shadow: 0 4px rgba(188, 209, 229,0.7);
    box-shadow:	0 4px rgba(188, 209, 229,0.7);

    margin:30px 0 10px;
}

.btn-login:hover{
    cursor:pointer;
    box-shadow:	inset 0 3px 11px -8px #E08730,
    0 4px rgba(188, 209, 229,0.7);
    -webkit-box-shadow:	inset 0 3px 14px -7px #E08730,
    0 4px rgba(188, 209, 229,0.7);
}

.btn-login:active{
    box-shadow:none;
}

.pull-right{
    text-align:right;
    display:block;
}


/*  ============  LOGIN   ============ */
/*  ==================================  */



/*  ==================================  */
/*  ===============  MAIN   ============= */
.fullWidth #Container3 		{padding-bottom: 0;}
.fullWidth #Main 			{margin: 1em 0;}

#Main a:hover,
#Main a:focus			{text-decoration:none;}


.docId 					{border-left: 1px solid #283644; font-size: 13px;  margin-left: 10px;    padding-left: 10px;}

#Container3 h2 a.backIcon {float: right;    font-size: 0.7em;}
/*  - - - - - - - - - - -   TABS - - - - - - - - - - - - - - -   */

ul.tabs {
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 3px solid #3C576B;
    display: block;
    float: left;
    height: 32px;
    margin-bottom: -1px;
    width: 100%;
}

.tabs li {
    border-left: 1px solid #FAB394;
    border-right: 1px solid #FAB394;
    border-top: 1px solid #FAB394;
    float: left;
    margin: -1px 2px 0 0;
}


.tabs li.selected {
    background-color: #3C576B;
    border-bottom: 0 solid #3C576B;
    border-left: 1px solid #3C576B;
    border-top: 1px solid #3C576B;
    font-weight: bold;
    background-image: url("../images/toolbar_gradient.png");
}
.tabs li.selected:hover {
    border-left: 1px solid #436177;
    border-top: 1px solid #436177;
}
#Container3 .tabs li.selected a {
    color: #FFFFFF;
}
#Container3 .tabs li a {
    color: #283644;
    display: table-cell;
    font-size: 1.2em;
    height: 32px;
    max-width: 20em;
    padding: 0 10px;
    text-align: left;
    text-decoration: none;
    vertical-align: middle;
}
#Container3 .tabs li.selected a:hover{
    background-color: #436177;
    background-image: url("../images/toolbar_gradient.png");
}
#Container3 .tabs li a:hover {
    cursor: pointer;
    background-color:#e2e9f0;}

.tabContent {
    float: left;
    padding:15px 10px 10px 5px;
    width: 100%;
    overflow-x:auto
}


.tabContent table {
    margin-top: 2em;
    width: 100%;
}
.tabContent table th, .tabContent table td			{padding:1em 0.3em;}
.tabContent table th.firstTh 	{min-width: 84px;  padding: 1em 0;    white-space: pre-wrap;    width: auto;}
.tabContent table th.firstTh a   {float: right;    margin: 4px 4px 0 0;}
.perPage {float: right;    width: auto;}
.total {background-color: #E1E7EB;}
td.total {font-weight: bold;}

.sessInfo {float: left;    margin: 10px;    width: 100%;}
.sessInfo > a {margin: 0.1em 0 0;    padding: 0.3em 0;}
/*  - - - - - - - - - - -   TABS - - - - - - - - - - - - - - -   */


/*  - - - - - - - - - - -   +/- AREAS - - - - - - - - - - - - - - -   */
#Container3 #Main .expandContainer a.expander {
    background-color:#e1e8f0;
    color: #283644;
    float: left;
    font-size: 1.1em;
    font-weight: bold;
    margin: 2px 0;
    padding: 6px 0 6px 18px;
    text-decoration: none;
    width: 99%;
}
#Container3 #Main .expandContainer a.collapsed {background:url('../images/collapsed.gif') no-repeat 0 6px #e1e8f0;}
#Container3 #Main .expandContainer a.expanded {background:url('../images/expanded.gif') no-repeat 0 6px #e1e8f0;}
.expandContainer .content {
    float: left;
    width: 100%;
    padding-bottom:20px;
    overflow-x:auto;
    overflow-y:hidden;
}
.overflow{float: left;
    width: 100%;
    padding-bottom:20px;
    overflow-x:auto;
    overflow-y:hidden;}
#Main input.LGnum 			{width:auto;max-width:22px; border:1px solid #d5e5ec; padding:0.15em; border-radius:2px;}
.tabContent table input[type="checkbox"] {vertical-align: middle;}
.tabContent .tGroup 				{font-weight: bold;   max-width: 1.8em;   padding-right: 1.25em;}

/*  - - - - - - - - - - -    +/- AREAS  - - - - - - - - - - - - - - -   */

/*  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -   */
/*  - - - - - - - - - - - - -  tables  - - - - - - - - - - - - - - -   */

table				{float:left; width:100%; margin:-0.75em 0 0 0;}

div.searchTableContainer{float:left;overflow-x:auto;width:100%;margin-bottom:3em;}

div.searchTableBottomList {clear:both;display:inline;}
th, td				{padding:1em; border-bottom:1px solid transparent; vertical-align:middle;}
th				{font-weight:bold; white-space:nowrap;}
.searchTable th	{font-weight:bold; white-space:normal; font-size:11px;}
.searchTable th.flag	{font-weight:bold; white-space:nowrap; font-size:11px;}
.searchTable th.flag	img{float:none;}
.searchTable th img {vertical-align:middle; float:none;}
.searchTable td.flag {text-align:center;}

td.Extended			{width:100%;}
td.NoWrap			{white-space:nowrap;}

th:first-child,
td:first-child			{padding-left:0.5em;}
th:last-child,
td:last-child			{padding-right:0.5em;}
#Container3 table a.tableAction  {
    color: #283644;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 1px 0 #FFFFFF;
    padding:4px;
}

/*  - - - - - - - - - - - - -  tables  - - - - - - - - - - - - - - -   */
/*  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -   */


#Main ul.ViewAll			{float:left; width:100%; margin:0.75em 0;}
#Main ul.ViewAll a			{display:block; float:right; padding:0.25em 2em 0.25em 0;}



/*  ===============  MAIN   ============= */
/*  ==================================  */


/*  ==================================  */
/*  =============  FOOTER  ============= */


#Footer				{float:left; width:100%;}
#Footer li				{float:left;}
#Footer li.Last			{float:right;}
#Footer a				{display:block; float:left; padding:1em; margin:0 0.5em; text-decoration:none;}
#Footer a:hover			{text-decoration:underline;}


/*  =============  FOOTER  ============= */
/*  ==================================  */






#Main h3				{float:left; width:100%; font-size:1.75em;}

#Main form			{float:left; width:100%;}



#Main fieldset			{border-top:1.9em solid #F0F2DC; float:left; width:100%;}
#Main fieldset.noLegend	{border-top:none;}
#Main fieldset fieldset 		{border-top:2px solid #F0F2DC; padding:0 0 1em 0;}

#Main legend			{font-weight:bold; padding:0 1.5em; margin:0 0 0 1.5em; background:#FFF;}
#Main fieldset fieldset legend		{padding:0 1.5em 0 0; margin:0;}

.fElements			{padding-left:3em;}

.fElements.noL			{padding-left:0em;}

.fElements p			{padding:1em 0; border-bottom:1px dotted #e3ebf3; float:left; width:100%;}
.fElements p.Mandatory		{margin:1em 0 2em 0; padding:1em 0; border-bottom:3px double #e3ebf3;}
.fElements noscript p		{padding:0; border:0; float:none; width:auto;}

.fElements div			{padding:1em 0; float:left; width:100%;}
.fElements div+div			{border-top:1px dotted #e3ebf3;}

.fElements img 			{vertical-align: middle;}
.fElements div span 		{margin-right: 5px;}

.iGroup,
#Main label			{display:block; float:left; width:20em; padding:0.3em 0; margin:0 1em 0 0;}
#Main label.iLabel			{display:inline; float:none; width:auto; padding:0; margin:0;}

#Main label.iRadio,
#Main label.iCheck {display:block; float:none; width:auto; padding:0em 0; margin:0 0 0 23em;}

#Main label.iFile			{margin-left:21em; float:left;clear:left; padding: 0.5em 0; width:15em;}
#Main input.iFile			{border: 1px solid #E3EBF3;    border-radius: 2px 2px 2px 2px;  margin: 0.25em 0;    padding: 0.25em;}

#Main input.iText,
#Main select,
#Main textarea			{border:1px solid #e3ebf3; padding:0.25em; border-radius:2px;}

#Main input.iText:focus,
#Main select:focus,
#Main textarea:focus		{background-color:#e0f5ff;}

#Main input.iRadio,
#Main input.iCheck	{margin-left:21em; float:left;}

#Main .simpleChecks .iCheck {float: left; margin: 3px;}
#Main .simpleRadios .iRadio {float: left; margin: 3px;}

span.Mandatory			{color:#C03;}

.iDisabled			{background:#e0e0e0; color:#263844;}

.Buttons				{float:left; width:100%; border-top:3px double #e0f5ff; padding:1em 0; margin:1em 0;}

.Buttons button, .Buttons input.BTN{
    padding:0.75em 1.5em;
    border-radius:3px;
    font-weight:bold;
    cursor:pointer;
    background:url(../images/button_gradient.png) #d9e5f1 0 0 repeat-x;
    margin:0 1em 0 0;
    border-style: solid;
    box-shadow:0 2px 2px #c8d3de;
    text-shadow:0 1px 0 #FFFFFF;
    border-width: 1px;
    border-color: #b8d7f5 #8cc2f7 #8cc2f7 #b8d7f5;
}
.Buttons button:hover,
.Buttons input.BTN:hover,
.Buttons button:focus,
.Buttons input.BTN:focus {
    box-shadow:0 1px 0px #F0F2DC;
    background-color:#F0F2DC;
    text-shadow:0 1px 2px #dae1e8;}
}


.ContextualHelpB			{display:block; margin:0.5em 0 0 21em;}


/*  ==================================  */


td.SelectRow			{text-align:center;}

#Main table label			{display:inline; float:none; width:auto; padding:0; margin:0 0 0 0.5em;}
#Main table input.TiCheck		{vertical-align:top;}

#Main input.TiText			{border:1px solid #d5e5ec; padding:0.25em; border-radius:2px;}
#Main input.TiText:focus		{background-color:#e0f5ff;}

.TRHLT,
.TRHLT:hover td			{background:#F0F2DC;}

.ico24					{width:24px; height:24px;}
.ico16					{width:16px; height:16px;}

td a img:hover			{box-shadow:0 0 2px #283644;}

td a img.addCartIcon		 			{margin-left:1em;}

td a img.removeIcon:hover,
td a img.addCartIcon:hover			{box-shadow:none;}




th img					{vertical-align:middle; float:right;}
td img 					{vertical-align: top; margin-left: 2px;}
strong					{font-weight:bold;}
em						{font-style:italic;}

.fElements img 			{margin:0 2px;}
.fElements img.grCard 	{max-width:300px;}



.Pagination			{display:block; float:left; width:100%; padding:1em 0; border-bottom:3px double #e0f5ff;   margin-bottom: 3em;}
.Pagination p			{float:left; padding:0.25em 1em 0.25em 0 ; border-right:1px solid #e0f5ff;}
.Pagination .PageNav		{float:left;}
.Pagination li			{float:left; padding:0.25em 0.5em; margin:0 0 0 0.5em; border-radius:2px;}
.Pagination li.Selected		{color:#F0F2DC; background-color:#283644;}





.Message			{display:block; float:left; width:100%; margin:0 0 3em 0; min-height:4em; border-radius:3px; padding-top:0.75em;
    background-position:1.5em 1em; background-repeat:no-repeat;}
.Message p,
.Message ul			{margin:1em 1em 1em 6em;}
.Message ul			{list-style-type:square;}
.Message li			{margin-left:1.5em;}
#Main .Message a			{color:#444;}
.mInfo				{background-color:#d4f4ff; background-image:url(../images/ico_message_info.gif);}
.mSuccess			{background-color:#eaffcc; background-image:url(../images/ico_message_success.gif);}
.mWarning			{background-color:#fff2cc; background-image:url(../images/ico_message_warning.gif);}
.mError				{background-color:#ffd9e2; background-image:url(../images/ico_message_error.gif);}





#Nav.GuestNav			{padding-bottom:0.3em;}
#Nav.GuestNav h1			{border:0;}

#Nav.GuestNav h1	+h1 {margin:0.5em 0;}

#Nav.GuestNav h1 a {border:none;padding:0.25em 0.45em;}

#GuestHome			{float:left; width:100%; margin:2.7em 0 0 0;}

#LogIn				{float:left; width:23em; padding-left:1.5em;}
#LogIn label			{width:100%; padding:0.3em 0; margin:0;}
#LogIn input.iText			{display:block; width:19.3em;}
#LogIn .Buttons button, #LogIn .Buttons input.BTN {width:7em; float:left; padding-left:0; padding-right:0;}
#LogIn .Buttons a			{display:block; margin:0.75em 0 0 8.5em;}

#GuestContent			{margin-left:27.5em; padding-bottom:3em;}
#GuestContent p			{text-align:justify;margin:0 0 1em 0;float:left;width:100%;}
#GuestContent h3			{margin:1.5em 0 0.5em 0; font-size:1.5em;}
#GuestContent h4 		{float: left;font-size: 1.125em;font-weight: bold;width: 100%;margin:1em 0;}
#GuestContent ul			{float:left; width:90%; margin:0 0 1em 0em; list-style:square;}
#GuestContent li			{text-align:justify; padding:0 0 0 0.5em; margin:0 0 1em 2em;}
#GuestContent ol			{float:left; width:90%; margin:0 0 1em 4em; list-style:decimal;}

#GuestContentImg {
    clear: both;
    text-align: center;
    width: 100%;
}

#GuestContentImg img {
    margin: 1em 5em 0 0;
    min-height:120px;
}




body.PopUp			{background-color:#E08730;}
body.PopUp #Main			{margin:1.5em 0 0 0; padding-bottom:3em; box-shadow:0 0 4px #283644;}
body.PopUp #Container3		{padding-bottom:1.5em;}
a.PopUp				{padding:0 2em 2px 0.5em; background:url(../images/ico_popup.gif) 100% 0 no-repeat;}


.Content				{float:left; width:100%; line-height:1.5em;}
.Content p			{float:left; width:100%; margin:0 0 1em 0; text-align:justify;}
.Content h3,
.Content h4			{margin:1em 0;}
.Content h4			{float:left; width:100%; font-size:1.125em; font-weight:bold;}
.Content ul			{float:left; width:100%; margin:0 0 1em 0; list-style:square;}
.Content ol			{float:left; width:100%; margin:0 0 1em 0; list-style:decimal;}
.Content li			{text-align:justify; padding:0 0 0 0.5em; margin:0 0 0 2em;}
.Content dl			{float:left; width:100%; margin:0 0 1em 0; list-style:square;}
.Content dt			{float:left; width:100%; font-weight:bold;}
.Content dd			{text-align:justify; margin:0 0 0 2.5em;}

/*  ===============================================  */
/*  ============  MODAL POPUP WINDOW   ============ */

.modal p.Mandatory 		{margin: 10px 0 0 20px;}
.modal h2.popupHeader{
    border-radius: 0;
    -webkit-border-radius: 0;
    margin-bottom: 14px!important;
}

.modal-header {
    min-height: 16px;
    padding: 15px;
    border-bottom: 2px solid #342402;
    background-color: rgb(237, 110, 45);
}

.modal-content {
    background-color: #F0F2DC;
}

.modal-title {
    font-size: 14px;
}

.modal a.closeBtn{
    position: absolute;
    display: block;
    top: 15px;
    right: 14px;
}


.modal a.closeBtn:hover img{
    cursor:pointer;
}

.formTable{
    display: table;
    width: 96%;
    padding: 1em 2%;
}

.formRow{
    display:table-row;
    width:100%;
}

.formCell{
    display:table-cell;
    width:20%;
    vertical-align:top;
}

.formLabel{
    font-weight:bold;
    padding:0 0 1em;
}

.modalFormBtn{
    width:96%;
    margin:1em 2%;
}

.modal table,
.modal .Pagination{
    padding:1em  1%;
    width:98%;
    border-bottom: 0 none;
}

/*  ============  MODAL POPUP WINDOW   ============ */
/*  ===============================================  */