
body				{font:normal 68.75%/136.36%	verdana,arial,helvetica,sans-serif;}
input, button, textarea, select	{font:normal 100%/100%		verdana,arial,helvetica,sans-serif;}

body				{background-color:#F0F2DC;}

body, input, button, textarea, select	{color:#283644;}

/*  ==================================  */
/*  ============  TOOLBAR   ============  */


/*  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -   */
/*  - - - - - - - - - - - - - -  edit  - - - - - - - - - - - - - - - -   */


#Toolbar,
#Toolbar a, 
#Toolbar .Selected a:hover,
#Toolbar .Selected a:focus,
#Toolbar .Selected:hover a,
#Toolbar .Selected:focus a		{color:		#e9edf2;}
#Toolbar li div a			{border-color:	#e9edf2;}

#Toolbar .Selected a		{color:#283644;}

#Toolbar				{background-color:#E08730;}

#Toolbar .Selected a		{background-color: #c4d6e9;}

#Toolbar li div,
#Toolbar li:hover, 
#Toolbar li:focus, 
#Toolbar a:hover, 
#Toolbar a:focus, 
#Toolbar .Selected:hover a, 
#Toolbar .Selected:focus a, 
#Toolbar .Selected a:hover, 
#Toolbar .Selected a:focus		{background-color:#274e74;}

#Toolbar				{box-shadow: 0px 0px 4px #274e74;}

#Toolbar li div			{box-shadow: 0px 2px 2px #274e74;}

#tOptions			{border-left:1px dotted #274e74;float: right; margin-right: 5px;}


/*  - - - - - - - - - - - - - -  edit  - - - - - - - - - - - - - - - -   */
/*  - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -   */


#Toolbar, 
#Toolbar li,
#Toolbar a			{background-repeat:repeat-x;	}

#Toolbar				{background-image:url(../images/toolbar_gradient.png);}

#Toolbar li:hover, 
#Toolbar li:focus, 
#Toolbar a:hover, 
#Toolbar a:focus, 
#Toolbar .Selected a		{background-image:url(../images/toolbar_gradient2.png);}

#Toolbar li, 
#Toolbar li a, 
#Toolbar li div			{border-radius:		2px;}
#Toolbar li div a			{border-radius:		0px;}
#tMenu li:hover div			{border-top-left-radius:	0px;}
#tAccount li:hover div		{border-top-right-radius:	0px;}
#Toolbar li.Parent:hover, 
#Toolbar li.Parent a:hover		{border-bottom-right-radius:	0px;
				border-bottom-left-radius:	0px;}

#tOptions li a span, 
/*
#tOptions li a:hover span, 
#tOptions li a:focus span		{background-repeat:no-repeat; background-image:url(../images/ico_settings.gif);}
*/
#Toolbar li div li:hover,
#Toolbar li div a,
#Toolbar li div a:hover,
#Toolbar li.Selected div a		{background-image:none;}

#Toolbar #tOptions span, 
#Toolbar #tOptions li a:hover span, 
#Toolbar #tOptions li a:focus span,
#Toolbar #tOptions li.Selected a:hover span, 
#Toolbar #tOptions li.Selected a:focus span, 
#Toolbar #tOptions li.Selected:hover a span, 
#Toolbar #tOptions li.Selected:focus a span
				{background-position:0 -1px;}

#Toolbar #tOptions .Selected a span	{background-position:0 -33px;}


/*  ============  TOOLBAR   ============ */
/*  ==================================  */


/*  ==================================  */
/*  =============  BANNER   ============ */


#Search				{background-color:#FFFFFF;}
#Search input,			
#Search select			{background-color:#F0F2DC;}
#Search button			{background-color:#FFFFFF;}

#Search input:focus,
#Search select:focus,
#Search button:hover,
#Search button:focus		{background-color:#d7eafc;}

#Search button:active		{background-color:#c4dcf5}

#Search button			{text-shadow:#beccdb 0px 2px 5px;}
#Search button:hover,
#Search button:active		{text-shadow:#F0F2DC 0px 1px 0px;}

#Search button span		{background:url(../images/ico_magnifier.gif) 0 0 no-repeat;}

#Search				{border-radius:3px;}
#Search input,
#Search select,
#Search button			{border-radius:2px;}


/*  =============  BANNER   ============ */
/*  ==================================  */


/*  ==================================  */
/*  =======   COMMON NAV+MAIN   ======== */


#Nav,
#Main				{/*background-color:#F2EBC5;*/ border-radius:3px;}

#Nav				{background-color:#F4C884;}

#Container3 h1, 
#Container3 h2,
#Nav a,
#Main th,
#Main td				{border-color:#F4E1A7;}

#Main div.compareItems th.headcol.first, #Main div.compareItems td.long.first,
#Main div.compareItems th.headcol.last, #Main div.compareItems td.long.last
{border:none;}

#Main div.compareItems td.tdcaption{font-weight:bold;background:url(../images/bg_caption.gif) repeat-x 8px 39px transparent;margin:20px 0 5px 0;border:none;padding:3em 1em 1em;}

#Main div.compareItems td.tdcaption span{background-color:#ffffff; margin:0 10px; padding:0 5px 0 5px;}

#Nav a:hover,
#Nav a:focus,
#Nav .Selected a			{border-color:#092c4f;}

/*#Container3 a			{color:#007FBF;} */

#Container3 .csv button a		{color:#283644;}


/*  =======   COMMON NAV+MAIN   ======== */
/*  ==================================  */


/*  ==================================  */
/*  ===============  NAV  ============== */


/*#Nav .Selected a			{background:#ebf1f7; color:#283644;}*/
#Nav .NavActions a{
	box-shadow:0 2px 2px #c8d3de;
	background-color:#d9e5f1;
	text-shadow:0 1px 0 #FFFFFF;
	background-image:url(../images/button_gradient.png);
	background-position:0 0;
	background-repeat:repeat-x;
	border-radius:3px;
	color:#283644;
	border-style: solid;
	border-width: 1px;
	border-color: #b8d7f5 #8cc2f7 #8cc2f7 #b8d7f5;
}
#Nav .NavActions a:hover,
#Nav .NavActions a:focus		{box-shadow:0 1px 0px #F0F2DC;
				background-color:#F0F2DC;
				text-shadow:0 1px 2px #dae1e8;}
#Nav .NavActions .nAll a,
#Nav .NavActions .nBack a		{background-position:0.75em 0.66em; background-repeat:no-repeat;}
#Nav .NavActions .nAll a		{background-image:url(../images/ico_view-all.gif);}
#Nav .NavActions .nBack a		{background-image:url(../images/ico_back.gif);}

#ButtonAction{
float: left;
margin: 0 0 1em;
padding: 0 0 2em;
width: 100%;
text-align: right;
}

#ButtonAction > ul {
    clear: right;
    padding: 11px 0;
}
.tabContent .content #ButtonAction {
    float: right;
    margin: 15px 0 0;
    padding: 0;
   
    width: auto;
}
#ButtonAction li {display: inline;
    margin: 1.2em 0;
    padding: 1em 0;
}

#ButtonAction a {
	border-style: solid;
	border-width: 1px;
	border-color: #b8d7f5 #8cc2f7 #8cc2f7 #b8d7f5;
	border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    margin: 0 1em 0 0;
    text-shadow: 0 1px 0 #FFFFFF;
	color:#283644;
	text-decoration:none;
}

#ButtonAction a:hover,
#ButtonAction a:focus{box-shadow:0 2px 2px #c8d3de;
				text-shadow:0 1px 2px #dae1e8;}

#ButtonAction .csv a {
    background: url("../images/csv.png") no-repeat scroll 7px 6px #d9e5f1;
    padding: 0.5em 1.5em 0.5em 2.5em;
}	
#ButtonAction .new a {
    background: url("../images/new.png") no-repeat scroll 7px 7px #d9e5f1;
    padding: 0.5em 1.5em 0.5em 2.5em;
}
#ButtonAction .view a {
    background: url("../images/view.png") no-repeat scroll 7px 5px #d9e5f1;
    padding: 0.5em 1.5em 0.5em 2.5em;
}	
#ButtonAction .distributed a {
    background: url("../images/distributed.png") no-repeat scroll 7px 5px #d9e5f1;
    padding: 0.5em 1.5em 0.5em 2.5em;
}				
#ButtonAction .download a {
    background: url("../images/downloadALL.png") no-repeat scroll 7px 4px #d9e5f1;
    padding: 0.5em 1.5em 0.5em 2.5em;
}	
#ButtonAction .remove a {
    background: url("../images/delete.png") no-repeat scroll 7px 4px #d9e5f1;
    padding: 0.5em 1.5em 0.5em 2.5em;
}
#ButtonAction .refresh a {
    background: url("../images/refresh.png") no-repeat scroll 7px 4px #d9e5f1;
    padding: 0.5em 1.5em 0.5em 2.5em;
}				
#ButtonAction .add a {
    background: url("../images/add.png") no-repeat scroll 7px 4px #d9e5f1;
    padding: 0.5em 1.5em 0.5em 2.5em;
}				

/*  ===============  NAV  ============== */
/*  ==================================  */


/*  ==================================  */
/*  ===============  MAIN   ============= */


tr:hover td			{background-color:#f2f6fa;}
tr:hover th			{background-color:#f2f6fa;}

#Main ul.ViewAll a			{background:url(../images/arrow2.gif) 100% 2px no-repeat;}
#Main ul.ViewAll a:hover		{background-position:100% -30px;}

.fancyTable tr:hover th {background-color:#ffffff;}

.fancyTable thead tr th:hover {background-color:#f2f6fa;}


/*  ===============  MAIN   ============= */
/*  ==================================  */


/*  ==================================  */
/*  =============  FOOTER  ============= */

#Footer				{background-color:#E08730;}
#Footer				{box-shadow:0px 0px 4px #E08730;}
#Footer a				{color:#F0F2DC;}


/*  =============  FOOTER  ============= */
/*  ==================================  */

.ui-widget-header 	{color: #03233C;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {color: #003452;}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{border: 1px solid #68d6ff;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #0168A9;}



/*  ==================================  */
/*  =============  GRID  ============= */

.grid {
    width: 1000px;
}

.ng-table th {
    text-align: left;
}

.iconLink{
    padding-right:3px;
    width: 20px;
}

/*  =============  GRID  ============= */
/*  ==================================  */



/*  ==================================  */
/*  =============  FORM  ============= */

.one-column-form {
    margin-top:20px;
    width: 20%
}

.multi-column-form {
    margin-top:5px;
}

.row {
    margin-top:8px;
}

.form-group {
    margin-top: 5px;
}

.modal-content .row {
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
}

form label {
    font-size: 16px;
    color: #00305d;
}

.modal-content .form-control {
    display: inline-block;
    width: 100%;
}

.modal-content {
    border-radius: 10px;

}
.modal-content-collection {
    float: left;
}

.modal-header {
    border-radius: 10px 10px 0px 0px;
}

.modal-footer-collection {
 width: 100%;
 float: left;
}

.avatar {
    width: 128px;
    height: 128px;
}

.avatarDiv {
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 8px;
}

. bigtext {
    width: 843px;
    height: 58px;
}

.datepicker.dropdown-menu {
    z-index: 1051!important;
}

.error-messages {
    color: red;
    font-family: cursive;
    font-weight: bold;
    font-size: larger;
}

.marginTop {
    margin-top: 10px;
}

.formRow {
    margin-top: 8px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 10px;
}

.formStyle {
    border: 2px solid #E08730;
    border-radius: 10px;
    padding-left: 15px;
    margin-bottom: 20px;
    background-color: #F2EBC5;
}

/*  =============  FORM  ============= */
/*  ==================================  */


/*  ==================================  */
/*  =============  BUTTON  ============= */

#deleteBtn {
    margin-bottom:20px;
}

#addNewBtn {
    background-color: #1BA131;
}

#clearBtn {
    margin-left:80px;
}

#browseBtn {
    margin-top: 5px;
    /* margin-left: 10px; */
}

#buttonGroup {
    margin-top:30px;
    margin-bottom:30px;
}

#fileUploadButton {
    position:absolute;
    z-index:2;
    top:0;
    left:0;
    filter: alpha(opacity=0);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity:0;
    background-color:transparent;
    color:transparent;
}

.buttonWidth {
    width:128px
}

.background {
    background-color: #F2EBC5;
}

#gridArea {
    background-color: #F2EBC5;
    display: inline-block;
    width: 100%;
    border-radius: 10px;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
}

.glyphicon {
    padding-right: 4px;
}


/*  =============  BUTTON  ============= */
/*  ==================================  */


/*  ==================================  */
/*  =============  GRAPH  ============= */

.barchart {
    width: 600px;
    height: 300px;
}

.chartleft {
    float: left
}

.highcharts-title {
    font-size: 10pt!important;
    font-weight: bold;
}

.axis {
    fill: none;
    stroke: black;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.axis text {
    fill: black;
    stroke: none;
}

.linechart {
    width: 700px;
    height: 350px;
}

.radio-selection {
    margin: auto 20px;
    float: left;
}

.radio-label {
    margin: 0 5em 0 0!important;
    padding: 0em 0!important;
    float: none!important;
    display: initial!important;
}

.radio-inline {
    vertical-align: inherit!important;
    width: inherit!important;
}


.radio-form {
    display: inline-flex;
}

.radio-selection-solo {
    margin: 20px 0px 20px 20px!important;
}


/*  =============  GRAPH  ============= */
/*  ==================================  */


/*  ==================================  */
/*  =============  LOGIN  ============= */

#loginContainer {
/*    margin-top: 200px;*/
}

.loginTitle {
    font-size: xx-large;
    margin-bottom: 40px;
}

.loginToolbar {
   margin-bottom: 200px;
}

.loginForm {
    background-color: #EFD89D;
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 20px;
    padding-right: 30px;
}

.loginButton {
    margin-bottom: 20px;
}

.version {
    display: block;
    float: left;
    padding: 1em;
    margin: 0 0.5em;
    color: #F0F2DC;
}

/*  =============  LOGIN  ============= */
/*  ==================================  */


/*  ==================================  */
/*  =============  TAB  ============= */

[data-tab-menu] a {
    display: block;
    padding: 10px 30px;
    border: 1px solid #ccc;
    background: #f1f1f1;
    margin-right: -1px;
    background-color: #F4C884;
    text-decoration: none;
    color: #00305d;
    font-size: 12px;
}

.list-inline>li {
    padding-bottom: 20px;
    padding-right: 1px;
}

.list-inline>li.Selected {
    font-weight: bold;
}

/*  =============  TAB  ============= */
/*  ==================================  */


/*  ==================================  */
/*  =============  MODAL  ============= */

.badgeCollection {
    margin: 30px 30px 10px 30px;
}

.fig-caption {
    margin-bottom: 10px;
    text-align: center;
}

.hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.playful-border {
    border: 15px solid transparent;
    -moz-border-image:url("../images/border.png") 30 30 stretch; /* Old Firefox */
    -webkit-border-image:url("../images/border.png") 30 30 stretch; /* Safari */
    -o-border-image:url("../images/border.png") 30 30 stretch; /* Opera */
    border-image:url("../images/border.png") 30 30 stretch;
}

/*  =============  MODAL  ============= */
/*  ==================================  */


