<hr class="Hidden" />
<p class="Hidden">General system information:</p>
<ul>
    <li class="version">Version : {{version}}</li>
    <li><a href="{{aboutlink.url}}">{{constants.aboutLink}}</a></li>
</ul>