<ul id="tOptions">
	<li class="Parent"><a ng-click="logout()"><span>{{constants.logout_btn}}</span></a>
	</li>
</ul>
<div id="tUser">
	<span class="Hidden">constants.loginText</span> 
	<span title="User name">{{user.username}}</span> (<span title="User profile">{{user.profile}}</span>)			
</div><!-- tUser -->			

<div id="tLang">
    <form method="get" action="">
        <div>
            <select id="LanguageSelection" ng-model="language" ng-change="changeLanguage(language.value)" ng-options="c.name for c in languages"></select>
        </div>
    </form>
</div><!-- tLang -->